PySide6
qt-material
qtawesome
superqt
Pillow
keyboard
pynput
pyautogui
pyperclip
pystray
rapidfuzz
regex
orjson
psutil
loguru
watchdog
pywin32
qasync
cachetools
py7zr
pyshortcuts
cryptography
langdetect
pytest
pyinstaller